<div class="container-contact100">
         <div class="contact100-map" id="map"></div>
         <div class="wrap-contact100">
            <form class="contact100-form validate-form">
               <span class="contact100-form-title">
               Contact Us
               </span>
               <div class="wrap-input100 validate-input" data-validate="Name is required">
                  <span class="label-input100">Name</span>
                  <input class="input100" type="text" name="name" placeholder="Name...">
                  <span class="focus-input100"></span>
               </div>
               <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <span class="label-input100">Email</span>
                  <input class="input100" type="text" name="email" placeholder="Email addess...">
                  <span class="focus-input100"></span>
               </div>
               <div class="wrap-input100">
                  <span class="label-input100">Phone</span>
                  <input class="input100" type="text" name="phone" placeholder="Phone Number...">
                  <span class="focus-input100"></span>
               </div>
               <div class="wrap-input100 validate-input" data-validate = "Message is required">
                  <span class="label-input100">Message</span>
                  <textarea class="input100" name="message" placeholder="Questions/Comments..."></textarea>
                  <span class="focus-input100"></span>
               </div>
               <div class="container-contact100-form-btn">
                  <div class="wrap-contact100-form-btn">
                     <div class="contact100-form-bgbtn"></div>
                     <button class="contact100-form-btn">
                     Send
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <script>
         // Initialize and add the map
         function initMap() {
           // The location of mumbai
           var mumbai = {lat: 19.0760, lng: 72.8777};
           // The map, centered at mumbai
           var map = new google.maps.Map(
               document.getElementById('map'), {zoom: 10, center:mumbai});
           // The marker, positioned at mumbai
           var marker = new google.maps.Marker({position: mumbai, map: map});
         }
             
      </script>
      <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzWzVY5v0oqL_2nxTsEceHdSxefhrbvyU&callback=initMap"></script>