

    <div id="transcroller-body" class="aos-all">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top topnavbar">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">
               <img src="../angular/assets/logo.png" class="navbar-logo img-responsive" itemprop="logo" alt="websites.co.in">
               </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/blog">Blog</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/sitemap">sitemap</a></li>
                  <li ><a routerLink="/news">news</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>
      <!-- Carousel -->
      
   </div>
    <!-- <script src="node_modules/bootstrap/dist/js/custome.js"></script> -->
    <!-- <a routerLink="/news">news</a>
<a routerLink="/about">About</a> -->
<!-- <HeaderComponent></HeaderComponent> -->
<router-outlet></router-outlet>
