<br>
      <header class="masthead" style="background-image: url('../angular/assets/blog-bg.jpg')">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="site-heading">
                     <h1>Clean Blog</h1>
                     <span class="subheading">A Blog by Website</span>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <br>
<div class="container">
         <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
               <h1 class="my-4">Page Heading
                  <small>Secondary Text</small>
               </h1>
               <!-- Blog Post -->
               <div class="card mb-4 aos-item" data-aos="fade-up">
                  <img class="card-img-top" src="../angular/assets/blog-details-750.jpg" alt="Card image cap">
                  <div class="card-body">
                     <h2 class="card-title">Post Title</h2>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                     <a routerLink="/blogdetail" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                     Posted on May 1, 2018 by
                     <a href="https://websites.co.in/" target="_blank" >Website</a>
                  </div>
               </div>
               <!-- Blog Post -->
               <div class="card mb-4 aos-item" data-aos="zoom-in">
                  <img class="card-img-top" src="../angular/assets/blog-details-7501.jpg" alt="Card image cap">
                  <div class="card-body">
                     <h2 class="card-title">Post Title</h2>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                     <a routerLink="/blogdetail" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                     Posted on May 1, 2018 by
                     <a href="https://websites.co.in/" target="_blank" >Website</a>
                  </div>
               </div>
               <!-- Blog Post -->
               <div class="card mb-4 aos-item" data-aos="zoom-in">
                  <img class="card-img-top" src="../angular/assets/blog-details-7500.jpg" alt="Card image cap">
                  <div class="card-body">
                     <h2 class="card-title">Post Title</h2>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                     <a routerLink="/blogdetail" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                     Posted on May 1, 2018 by
                     <a href="https://websites.co.in/" target="_blank" >Website</a>
                  </div>
               </div>
               <!-- Pagination -->
               <ul class="pagination justify-content-center mb-4">
                  <li class="page-item">
                     <a class="page-link" href="#">&larr; Older</a>
                  </li>
                  <li class="page-item disabled">
                     <a class="page-link" href="#">Newer &rarr;</a>
                  </li>
               </ul>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
               <!-- Search Widget -->
               <div class="card my-4 aos-item" data-aos="zoom-in">
                  <h5 class="card-header">Search</h5>
                  <div class="card-body">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                     </div>
                  </div>
               </div>
               <!-- Categories Widget -->
               <div class="card my-4 aos-item" data-aos="zoom-in">
                  <h5 class="card-header">Categories</h5>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-6">
                           <ul class="list-unstyled mb-0">
                              <li>
                                 <a href="#">Paris</a>
                              </li>
                              <li>
                                 <a href="#">Yellowstone</a>
                              </li>
                              <li>
                                 <a href="#">Rome</a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-lg-6">
                           <ul class="list-unstyled mb-0">
                              <li>
                                 <a href="#">Tahiti</a>
                              </li>
                              <li>
                                 <a href="#">London</a>
                              </li>
                              <li>
                                 <a href="#">India</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Side Widget -->
               <div class="card my-4 aos-item" data-aos="zoom-in">
                  <h5 class="card-header">Side Widget</h5>
                  <div class="card-body">
                     You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                  </div>
               </div>
            </div>
         </div>
         <!-- /.row -->
      </div>