/* You can add global styles to this file, and also import other style files */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar{border:none;}
.darkHeader{
  background: #000;
}
.navbar-default .navbar-nav>li> a.darkHeadercl{
  color: #fff;
}
.navbar-logo{
  max-width: 35%;
}
.bgcl{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width: 50%;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex;
     -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
    align-items: center;
    justify-content: center;
}
.bgcl p{
  width: 50%
}  
.carousel-indicators{
  bottom: 0
}
.abtbg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/dest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 552px;
    color: #fff;
}
.bords{
  border-top: solid 2px #000;
    width: 50px;
    padding: 0 10%;
}


.blogcar .item{
  display: flex;
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
.padd0{
  padding: 0;
  margin: 0;
  flex: 1;
}
.paddbrd{
  border: #e1e1e1 solid 2px;
  border-right: none;
  display: flex;
     -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    background-color: rgba(255,255,255, 0.7);
        border-top-left-radius: 15px;
}
.paddbrd a:hover{text-decoration: none;}
.paddbrd h2, .paddbrd p, .paddbrd a{
  text-transform: capitalize;
}
.paddbrd h2{
  color: #3c3c3c
}
.paddbrd p{
  color: #535454
}
.blogbgrd{
  background-image: url(assets/last.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    width: 40px;
    height: 40px;
    z-index: 1;
    background-position: center center;
    border-radius: 20px;
    background-color: #ededed;
    font-size: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev{
    background-image: url(assets/left-arrow-black.png);
}
.owl-carousel .owl-nav button.owl-next{
    background-image: url(assets/arrow-black.png);
}
/*.owl-carousel .owl-nav button.owl-prev{
     -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg) !important;
}*/
.owl-carousel .owl-nav button.owl-next{
float: right;
right: 0
}


.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: #0099da;
    background-image: url(assets/left-arrow-white.png);
}
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #0099da;
    background-image: url(assets/arrow-white.png);
}



.find
{
  width: 100%;
  z-index: 0;
  background: transparent;
}
.find_background{
  padding: 3% 0 6%;
    background-image: url(assets/find.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 262px;*/
    color: #fff;
}
.find_form_container
{
  width: 100%;
  margin-top: 36px;
}
.find_title
{
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  color: #0099da ;
}
.find_form
{
  width: 100%;
  height: 100%;
}
.find_input
{
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 52px;
  color: #FFFFFF;
  border: solid 2px rgba(255,255,255,0.5);
  background: transparent;
}
.find_item{
  margin: 0 5px;
}
.find_item:first-child
{
  width: 31.413%;
}
.find_item:nth-child(2)
{
  width: 31.413%;
}
.find_item:nth-child(3)
{
  width: 10.122%;
}
.find_item:nth-child(4)
{
  width: 10.122%;
}
.find_item div
{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 7px;
}
.dropdown_item_select
{
  -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-image: url(assets/down.png);
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #939393 !important;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.find_input:hover
{
  border: solid 2px rgba(254, 67, 91, 0.5);
}
.find_input:focus
{
  outline-color: rgba(254, 67, 91, 0.5);
  border: solid 2px rgba(254, 67, 91, 0.5);
}
.find_button
{
  width: 14.048%;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 52px;
  padding-left: 46px;
  padding-right: 46px;
  background: #0099da !important;
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
  transform: translateY(14px);
  border: none;
  outline: none;
  cursor: pointer;
}
.find_button:hover
{
  opacity: 0.8;
}
.find_input::-webkit-input-placeholder
{
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}
.find_input:-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}
.find_input::-moz-placeholder
{
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
} 
.find_input:-ms-input-placeholder
{ 
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}
.find_input::input-placeholder
{
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #939393 !important;
}

.align-items-md-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.flex-md-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    display: flex
}


@media(max-width:1000px){
 .blogcar .item{margin:0; transform:scale(.9)}
}
/* .blogcar .active .item */
.blogcar .owl-stage-outer .active .item{
  opacity:1;
  transform:scale(1);
} 
.blogcar .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.blogcar .inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.blogcar .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
.blogcar .inner a:hover{border-color:#fff;}
.blogcar .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.blogcar .black .inner a:hover{border-color:#000;}
.blogcar .owl-controls{position:absolute; margin-top:300px;}




#bg3{background-color:#353535;}
#bg3 .foot{padding-top: 15px;}
footer.container{background-color:#353535; color: white; padding-bottom:45px;}
/*#foot1,#foot2,#foot3,#foot4 a{color:white;padding-left: 5px;}*/

#foot5{background-color:black;}

#foot1 a:hover{
  text-decoration: none;
  color:#0099da;
} 

#foot2 a:hover{
  text-decoration: none;
  color:#0099da;
}
h5#firstchild{padding-top:15px;}

#foot1,#foot2,#foot3,#foot4 h3{color:#0076a9;}
#foot3 h4{padding-top: 15px;line-height: 1.4}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
  
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoRss {
  background-color: #F56505;
    color:#fff;
}
.social-network a.icoFacebook {
  background-color:#3B5998;
    color:#fff;
}
.social-network a.icoTwitter{
  background-color:#33ccff; color:#fff;
}
.social-network a.icoTumblr {
  background-color:#007bb7; color:#fff;
}
.social-network a.icoLinkedin {
  background-color:#3B5998; color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;

}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}


  @media screen and (min-width: 300px) and (max-width: 600px) {
  
    .navbar-brand {
      padding: 15px 5px;
      width: 75%;
  }
  div#myCarousel {
    margin-top: 10%;
}
  
  .bgcl {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30%;
  }
  .bgcl p{
    display: none;
  }
  .bgcl  .h1, .bgcl h1 {
    font-size: 15px;
    margin-top: 2%
}
.carousel-indicators {
    bottom: 0;
    left: 10%;
}
.find_title {
    font-size: 20px;
    }

    .flex-md-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    display: table;
    width: 100%;
}

.find_item, .find_button {
    width: 77% !important;
    margin: 0 auto;
}
.find_button{
  margin: 0 auto;
  display: list-item;
}

.text-center .h1, .text-center h1 {
    font-size: 26px;
}

.abtbg {
    height: 50%;
    }
    .blogcar .item {
    display: block;
  }


}
