
      <div id="myCarousel" class="carousel slide aos-item" data-aos="fade-up" data-ride="carousel">
         <!-- Indicators -->
         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
         </ol>
         <div class="carousel-inner" role="listbox">
            <div class="item active">
               <img class="first-slide" src="../angular/assets/1.jpg" alt="First slide">
               <div class="container-fluid">
                  <div class="carousel-caption bgcl">
                     <h1>USA Spotlight</h1>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
               </div>
            </div>
            <div class="item">
               <img class="second-slide" src="../angular/assets/2.jpg" alt="Second slide">
               <div class="container-fluid">
                  <div class="carousel-caption bgcl">
                     <h1>Another USA Spotlight</h1>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
               </div>
            </div>
         </div>
         <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
         </a>
      </div>
      <!-- /.carousel -->
      <!-- find -->
      <div class="find aos-item" data-aos="fade-up">
         <div class="container-fluid find_background">
            <div class="container ">
               <div class="row">
                  <div class="col-12">
                     <div class="find_title text-center">Find the Adventure of a lifetime</div>
                  </div>
                  <div class="col-12">
                     <div class="find_form_container">
                        <form action="#" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
                           <div class="find_item">
                              <div>Destination:</div>
                              <input type="text" class="destination find_input" required="required" placeholder="Keyword here">
                           </div>
                           <div class="find_item">
                              <div>Adventure type:</div>
                              <select name="adventure" id="adventure" class="dropdown_item_select find_input">
                                 <option>Categories</option>
                                 <option>Categories</option>
                                 <option>Categories</option>
                              </select>
                           </div>
                           <div class="find_item">
                              <div>Min price</div>
                              <select name="min_price" id="min_price" class="dropdown_item_select find_input">
                                 <option>&nbsp;</option>
                                 <option>Price</option>
                                 <option>Price</option>
                              </select>
                           </div>
                           <div class="find_item">
                              <div>Max price</div>
                              <select name="max_price" id="max_price" class="dropdown_item_select find_input">
                                 <option>&nbsp;</option>
                                 <option>Price</option>
                                 <option>Price</option>
                              </select>
                           </div>
                           <button class="button find_button">Find</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- find end -->
      <div class="container-fluid abtbg aos-item" data-aos="zoom-in" id="About">
         <div class="container text-center">
            <h1>WHY A TRAVEL WEBSITE?</h1>
            <span class="bords">&nbsp;</span>
            <p>Travel industry has witnessed enormous growth in recent years. Travel agents are old news. Websites are the new way of booking travel. Imagine waking up in the morning, drinking your coffee and logging onto your website account to check your earnings from the comfort of your home. Its an opportunity to get established on the web with a high end Travel Business setup and offer variety of services.</p>
         </div>
      </div>
      <!-- owl slider -->
      <div class="owl-carousel blogcar blogbgrd aos-item" data-aos="fade-up">
         <div class="item">
            <!-- <a href=""> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item black">
            <!-- <a href="#"> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0 ">
               <img src="../angular/assets/blog1.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item">
            <!-- <a href=""> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog2.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item black">
            <!-- <a href="#"> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog3.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item">
            <!-- <a href=""> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog4.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item black">
            <!-- <a href="#"> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog5.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item">
            <!-- <a href=""> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog6.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
         <div class="item black">
            <!-- <a href="#"> -->
            <div class="col-sm-6 padd0 paddbrd">
               <h2>heading hero</h2>
               <p>Travel industry has witnessed enormous growth in recent years.Travel industry has witnessed enormous growth in recent years.</p>
               <a href="blog.html">Know More</a>
            </div>
            <div class="col-sm-6 padd0">
               <img src="../angular/assets/blog7.png" class="img-responsive" alt="blog">
            </div>
            <!-- </a> -->
         </div>
      </div>
      <div class="container-fluid aos-item" data-aos="zoom-in" id="bg3">
         <footer class="container ">
            <div class="row foot">
               <div id="foot1" class="col-md-3 col-sm-3">
                  <h3>Useful Links</h3>
                  <h5 id="firstchild">
                     <span class="glyphicon glyphicon-chevron-right"></span><a href="contact.html" class="text-muted"> <b>Contact Us</b></a>
                  </h5>
                  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="index.html#About" class="text-muted"> <b>About Us</b></a></h5>
                  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="blog.html" class="text-muted"> <b>Blog</b></a></h5>
                  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Private Policy</b></a></h5>
               </div>
               <div id="foot2" class="col-md-3 col-sm-3">
                  <h3>Customer Services</h3>
                  <h5 id="firstchild"><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Customer Support</b></a></h5>
                  <h5> <span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Cancel Booking</b></a></h5>
                  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Cancelltion policy</b></a></h5>
                  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"><b> Register</b></a></h5>
                  <h5 style="border-bottom:0px;"><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"><b> Conatct Us</b></a></h5>
               </div>
               <div id="foot3" class="col-md-3 col-sm-3">
                  <h3>Address</h3>
                  <h4 class="text-muted">123 ,Lorem Ipsum dummy Text<br>Freephone: 1 999 999 9999<br>Fax:1 999 999 9999<br>E-mail: xyz@domain.uk</h4>
               </div>
               <div id="foot4" class="col-md-3 col-sm-3">
                  <h3>Follow Us</h3>
                  <br>
                  <ul class="social-network social-circle">
                     <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#" class="icoTumblr" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                  </ul>
               </div>
            </div>
         </footer>
      </div>
      <section class="container-fluid" id="foot5">
         <h4 class="text-center text-muted">Copyrights © 2018 Website.com</h4>
      </section>
      
     